<div class="assist-sidebar">
  <button
    ng-click="startListen()"
    class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect action-button"
  >
    <i class="material-icons">fiber_manual_record</i>
  </button>
  <div class="assist-options-group">
    <button
      class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"
      ng-click="toggleMute()"
    >
      <i class="material-icons">{{isMute ? 'mic_off' : 'mic'}}</i>
    </button>
    <button
      class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"
      ng-click="toggleQuiet()"
    >
      <i class="material-icons">{{isQuiet ? 'volume_off' : 'volume_up'}}</i>
    </button>
  </div>
  <a href="/config">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect settings-button">
      <i class="material-icons">extension</i>
    </button>
  </a>
</div>
<div class="assist-body">
  <div class="assist-app">
    <assist-processing status="assistStatus"></assist-processing>
    <span ng-if="!assistStack.length" class="assist-response">{{assistFeedback}}</span>
    <div class="assist-panel stack-panel" ng-if="assistStack.length">
      <div class="panel-nav">
        <a href="/">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" ng-click="clearStack()">
            <i class="material-icons">delete</i>
          </button>
        </a>
      </div>
      <div class="assist-stack">
        <div ng-repeat="command in assistStack">
          <span ng-if="command.input" class="mdl-chip command-input">
            <span class="mdl-chip__text">{{command.input}}</span>
          </span>
          <span ng-if="command.output" class="mdl-chip command-output">
            <span class="mdl-chip__text">{{command.output}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
