<div class="assist-body">
  <div class="assist-app">
    <div class="assist-panel">
      <div class="panel-nav">
        <a href="/">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
            <i class="material-icons">close</i>
          </button>
        </a>
      </div>
      <div class="assist-config-tabs">
        <button
          ng-click="configTab = 'snippets-lib'"
          ng-class="configTab === 'snippets-lib' ? 'active' : ''"
          class="mdl-button mdl-js-button mdl-js-ripple-effect"
        >
          Snippets Library
        </button>
        <button
          ng-click="configTab = 'snippets-reg'"
          ng-class="configTab === 'snippets-reg' ? 'active' : ''"
          class="mdl-button mdl-js-button mdl-js-ripple-effect"
        >
          Register Snippet
        </button>
      </div>
      <div class="assist-config-content">
        <div ng-show="configTab === 'snippets-lib'">
          <div class="mdl-list snippets-library" ng-show="!snippetOnView">
            <div class="mdl-list__item" ng-repeat="snippet in listedSnippets">
              <span class="mdl-list__item-primary-content">
                {{snippet.input}}
              </span>
              <button
                class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-list__item-secondary-action"
                ng-click="getSnippet(snippet)"
              >
                <i class="material-icons">edit</i>
              </button>
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-list__item-secondary-action"><i class="material-icons">delete</i></button>
            </div>
          </div>
          <div ng-show="snippetOnView">
            <div id="snippets-lib-editor"></div>
            <div class="snippets-editor-controls">
              <button
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit-config"
                ng-click="snippetOnView = null"
              >
                Discard Changes
              </button>
              <button
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit-config"
                ng-click="updateSnippet()"
              >
                Save Changes
              </button>
            </div>
          </div>
          
        </div>
        <div ng-show="configTab === 'snippets-reg'">
          <div id="snippets-editor"></div>
          <div class="snippets-editor-controls">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit-config">
              Save Snippet
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>