<div class="assist-body">
  <div class="assist-app">
    <div class="config-panel">
      <div class="config-nav">
        <a href="/">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
            <i class="material-icons">close</i>
          </button>
        </a>
      </div>
      <div class="assist-config-tabs">
        <button
          ng-click="configTab = 'snippets-lib'"
          ng-class="configTab === 'snippets-lib' ? 'active' : ''"
          class="mdl-button mdl-js-button mdl-js-ripple-effect"
        >
          Snippets Library
        </button>
        <button
          ng-click="configTab = 'snippets-reg'"
          ng-class="configTab === 'snippets-reg' ? 'active' : ''"
          class="mdl-button mdl-js-button mdl-js-ripple-effect"
        >
          Register Snippet
        </button>
      </div>
      <div class="assist-config-content">
        <div ng-show="configTab === 'snippets-reg'">
          <div id="snippets-editor"></div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit-config">
            Save Snippet
          </button>
        </div>
      </div>
    </div>
  </div>
</div>