@color-dark: #011126;
@color-blue: #23518C;
@color-green: #067302;
@color-yellow: #F2B705;
@color-orange: #F29F05;
@color-red: #D93030;
@color-white: #F2F2F2;
@color-black: #2B2B2B;
@color-gray: #D9D9D9;
@color-dark-gray: #999999;

@box-shadow-outer: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

body {
  background: @color-dark;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.assist-sidebar {
  position: fixed;
  border: 1px solid fade(@color-white, 10%);
  border-radius: 2px;
  background: fade(@color-white, 5%);
  width: 450px;
  margin-left: -225px;
  height: 82px;
  bottom: 20px;
  left: 50%;
  box-shadow: @box-shadow-outer;

  button.action-button {
    background: @color-red;
    color: @color-white;
    width: 62px;
    height: 62px;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    &:hover {
      background: @color-red;
    }
    i {
      font-size: 32px;
      width: 32px !important;
      line-height: 32px !important;
      transform: translate(-16px,-16px) !important;
    }
  }
  div.assist-options-group {
    position: absolute;
    top: 13px;
    left: 78px;

    button {
      color: @color-white;
    }
  }
  button.settings-button {
    position: absolute;
    top: 13px;
    right: 13px;
    color: @color-white;
  }
}

div.assist-body {
  padding: 20px;
  display: table;
  height: calc(~'100vh - 40px');
  width: calc(~'100vw - 306px');
  max-width: 960px;
  margin: 0px auto;
  div.assist-app {
    display: table-cell;
    vertical-align: middle;
    svg.assist-processing {
      margin: 0px auto;
      display: block;
    }
    span.assist-response {
      color: lighten(@color-blue, 50%);
      font-size: 24px;
      display: block;
      text-align: center;
      margin: 10px;
    }
  }

  div.assist-panel {
    border: 1px solid fade(@color-white, 10%);
    background: fade(@color-white, 5%);
    padding: 20px;
    border-radius: 2px;
    box-shadow: @box-shadow-outer;
    width: 768px;

    &.stack-panel {
      height: calc(~'100vh - 410px');
      margin-top: 20px;
    }

    div.assist-stack {
      background: @color-white;
      width: calc(~'100% - 40px');
      margin-top: 10px;
      height: calc(~'100% - 85px');
      border-radius: 2px;
      box-shadow: @box-shadow-outer;
      padding: 20px;
      overflow-y: auto;

      span.command-input {
        display: block;
        width: fit-content;
        width: -moz-fit-content;
        background: @color-green;
        color: @color-white;
        margin-bottom: 10px;
        height: auto;

        span {
          white-space: normal;
        }
      }

      span.command-output {
        display: block;
        width: fit-content;
        width: -moz-fit-content;
        background: @color-red;
        color: @color-white;
        margin-bottom: 10px;
        height: auto;

        span {
          white-space: normal;
        }
      }
    }

    div.panel-nav {
      text-align: right;

      button {
        color: @color-white;
      }
    }
  }
  div.assist-config-tabs {
    border-bottom: 2px solid @color-yellow;

    button {
      color: @color-white;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &.active {
        color: @color-dark;
        background: @color-yellow;
      }
    }
  }
  div.assist-config-content {
    margin-top: 20px;

    div {

      h1 {
        margin: 0px;
        margin-bottom: 10px;
        color: @color-yellow;
        font-size: 46px;
      }

      div#snippets-editor, div#snippets-lib-editor {
        width: 100%;
        height: 500px;
        box-shadow: @box-shadow-outer;
        border-radius: 2px;
        overflow: hidden;

        div.CodeMirror {
          height: 100%;
        }
      }

      div.snippets-editor-controls {
        text-align: right;
      }

      table {
        width: 100%;

        select {
          border: 1px solid @color-dark-gray;
          border-radius: 2px;
          padding: 2px;
          background:  @color-gray;
          color: @color-black;
          width: 150px;
        }

        label.mdl-switch {
          width: fit-content;
          width: -moz-fit-content;
          padding-left: 36px;
        }
      }

      button.submit-config {
        margin-top: 20px;
        background: @color-red;
      }
    }
  }
}

div.snippets-library {
  width: 100%;
  height: 540px;
  border-radius: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  background: @color-dark;
  box-shadow: @box-shadow-outer;
  div.mdl-list__item {
    border-bottom: 1px dashed @color-dark-gray;

    span.mdl-list__item-primary-content {
      color: @color-dark-gray;
    }
    button.mdl-list__item-secondary-action {
      i {
        color: @color-red;
      }
    }
  }
}